@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #24252A;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #24252A;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0px 15px 0px;
    box-shadow: 1px 1px 1px 1px #00000080;
}

.p-header {
    margin-right: auto;
    cursor: pointer;
    font-size: 32px;
    font-weight: bolder;
    padding: 5px;
    color: #edf0f1;
}

.tarefas {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.header i {
    font-size: 22px;
}

.deleteAll {
    position: fixed;
    z-index: 999;
    background-color: #000000;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    bottom: 40px;
    right: 40px;
    padding: 10px;
}

.deleteAll:hover {
    box-shadow: 1px 1px 3px 2px rgb(25, 77, 138);
    transition: .6s;
}

.bxs-trash-alt {
    color: rgb(148, 53, 53);
    margin: -18px -28px;
    padding: 18px;
    border-radius: 50px;
}

.to-do {
    width: 60%;
}

.textInsert {
    border: solid 1px black;
    padding: 10px;
    outline: none;
    border: none;
    width: 90%;
    background-color: lightgray;
}

.textInsert:focus {
    box-shadow: 1px 1px 3px 1px rgb(25, 77, 138);
    transition: 0.6s;
    border-radius: 10px;
}

.divInsert {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 6px 3px 7px 6px gray;
}

li,
a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.nav__links .li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links .li a {
    transition: all .3s ease 0s;
}

.nav__links .li a:hover {
    color: #0088a9;
}

#tarefa {
    position: relative;
    padding: 11px;
    font-weight: bold;
}

button {
    width: 10%;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.bx-plus {
    font-size: 30px;
    margin-left: 10px;
    background-color: rgb(85, 85, 85);
    border-radius: 50px;
    padding: 5px;
    color: white;
    opacity: 0.6;
}

.bx-plus:hover {
    opacity: 1;
    transition: 0.7s;
}

.divLi {
    margin-top: 30px;
    padding: 10px;
    background: lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 6px 3px 7px 6px gray;
}

.divLi span {
    width: 80%;
    color: dimgray;
}

.divLi input {
    width: 10%;
    outline: none;
    accent-color: currentcolor;
}

.divLi i {
    /*icon lixeira*/
    font-size: 22px;
    color: brown;
}

li {
    list-style-type: none;
}

.line-through {
    text-decoration: line-through;
}

#dados {
    font-size: 40px;
    color: #edf0f1;
    font-weight: bold;
    padding: 30px 30px;
    align-items: flex-start;
}

#dados p {
    margin-bottom: 25px;
}

/*responsividade*/

@media (max-width: 700px) {
    input {
        width: 70%;
    }

    .divInsert {
        width: 30%;
    }

    i {
        font-size: 30px;
        padding: 0px;
    }

    p {
        font-size: 20px;
    }
}