@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 190px;
}

.card {
    background-color: #ffffff90;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;
    width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #290b79;
    letter-spacing: 3px;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(25, 77, 138);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all 0.3 ease-out;
    border-radius: 0;
    margin-bottom: 10px;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.label-float input:focus {
    border-bottom: 2px solid rgb(30, 108, 197);
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
    font-size: 13px;
    margin-top: 0;
}

button {
    background-color: transparent;
    border-color: #290b79;
    color: #290b79;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #290b79;
    color: white;
    transition: all .5s ease-out;
}

.centralizar {
    display: flex;
    justify-content: center;
}

.span {
    display: none;
    font-weight: bold;
    font-size: 14px;
    color: #DB5A5A;
    transition: all 1s;
}